.productBox {
    box-shadow: 1px 1px 3px;
    width: 200px;
    margin-right: 15px;
    padding: 15px;
}

.products {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    text-align: center;

}

.redText {
    color: red;
    font-weight: bold;
    font-size: 2em;
}